<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="True" />
<title>{{ fontnameJp }}</title>
<link rel="icon" href="favicon.ico" type="image/png">
<link rel="stylesheet" href="css/sanitize.css">
<link rel="stylesheet" href="css/typography.css">
<link rel="stylesheet" href="css/style.css">

<header>
    <h1>{{ fontnameJp }}</h1>
</header>

<main>
    <h2>概要</h2>

    <p>{{ fontnameJp }}は <a href="http://vlgothic.dicey.org/">VLゴシック</a> をベースにARIB外字の追加記号を補填した固定幅フォントです。</p>
    <p>ベースに対する主な変更点は下記の通りです。</p>
    <ul>
    <li>ARIB外字の追加記号49文字 (交通情報・地図記号・天気記号・囲み文字) を追加</li>
    <li>ARIB外字についてUnicode5.2に基づく割り当てに加えてUnicode私用領域への割り当てを追加</li>
    <li>ARIB外字以外の一部の既存文字の字形を調整</li>
    </ul>

    <h2>ライセンス</h2>

    <p>
    ベースのVLゴシックが複数のフォントを元に作成されていることから、グリフによって異なるライセンスが適用されます。<br>
    元となったフォントごとに適用されるライセンスは下表の通りです。
    </p>

    <table><tbody>
        <tr>
            <th>対象</th>
            <th>適用ライセンス</th>
        </tr>
        <tr>
            <td>{{ fontnameJp }}</td>
            <td><a href="license/LICENSE">{{ fontnameJp }}のライセンス</a></td>
        </tr>
        <tr>
            <td>├ {{ fontnameJp }}で独自に作成したグリフ</td>
            <td><a href="license/LICENSE_J.mplus">M+ FONTS ライセンス</a></td>
        </tr>
        <tr>
            <td>└ VLゴシック</td>
            <td><a href="license/LICENSE.vlgothic">VLゴシックフォントライセンス</a></td>
        </tr>
        <tr>
            <td>　├ M+ FONTS に由来するグリフ</td>
            <td><a href="license/LICENSE_J.mplus">M+ FONTS ライセンス</a></td>
        </tr>
        <tr>
            <td>　├ さざなみゴシックフォントに由来するグリフ</td>
            <td><a href="license/README.sazanami">さざなみフォントのライセンス (修正BSDライセンス)</a></td>
        </tr>
        <tr>
            <td>　└ VLゴシックで独自に作成されたグリフ</td>
            <td><a href="license/LICENSE_J.mplus">M+ FONTS ライセンス</a></td>
        </tr>
    </tbody></table>

    <h2>ダウンロード</h2>

    <a href="{{ downloadUrl }}">{{ downloadUrl }}</a>

    <h2>追加/変更文字の一覧</h2>

    <table><tbody>
        <tr>
            <th>変更区分</th>
            <th>意味</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.code }}</td>
            <td>{{ category.description }}</td>
        </tr>
        {% endfor %}
    </tbody></table>

    <br>

    <table><tbody>
        <tr>
            <th>区点番号</th>
            <th>Unicode</th>
            <th>Unicode (私用領域)</th>
            <th class="align-center">見本</th>
            <th>変更区分</th>
            <th>備考</th>
        </tr>
        {% for char in charlist %}
        <tr>
            <td>{{ char[0] }}</td>
            <td>{{ char[1] }}</td>
            <td>{{ char[2] }}</td>
            <td class="align-center">
                <img src="img/{{ char[0] if char[0] != "-" else char[1] }}.png" alt onerror="this.onerror = null; this.src='';">
            </td>
            <td>{{ char[3] }}</td>
            <td>{{ char[4] }}</td>
        </tr>
        {% endfor %}
    </tbody></table>

    <h2>変更履歴</h2>

    <table><tbody>
        <tr>
            <th>バージョン</th>
            <th>日付</th>
            <th>変更内容</th>
        </tr>
        {% for change in changelog %}
        <tr>
            <td>{{ change.version }}</td>
            <td>{{ change.date }}</td>
            <td>{% for line in change.description %}<div>{{ line }}</div>{% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody></table>
</main>

<footer>
    <p>Copyright © D.Miwa 2023</p>
</footer>

</html>